NEXT_PUBLIC_API_URL=https://karashop.ru
NEXT_PUBLIC_BOT_USERNAME=karashipikbot
NEXT_PUBLIC_BOT_CHANNEL=https://t.me/yourchannel
NEXT_PUBLIC_MANAGER=@manager

# Юридические контакты
NEXT_PUBLIC_CONTACT_EMAIL=karashopik@gmail.com
NEXT_PUBLIC_CONTACT_PHONE=+7 (000) 000-00-00
NEXT_PUBLIC_LEGAL_ADDRESS=г. Москва, ул. Примерная, д. 1
NEXT_PUBLIC_INN=000000000000
